@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body{
    margin: 150px 0px 0px 50px;
    text-align: center;
}










